<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Add Tour</title>
</head>
<body>
<form th:action="@{/save_tour}" method="post" th:object="${tour}">
    <div><label> Название тура : <input th:value="${nameTour}" type="text" name="nameTour" autofocus required/></label></div>
    <br>
    <div><label> Информация: <input th:value="${info}" type="text" name="info" autofocus required/> </label></div>
    <br>
    <div><label> URL картинки : <input th:value="${img}" type="url" name="img"/></label></div>
    <br>
    <div><input type="submit" value="Добавить"/>
    </div>
</form>
</body>
</html>