<!DOCTYPE html>
<meta charset="UTF-8">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Check Tour</title>
</head>
<body>
<table>
    <tr>
        <th>TOUR NAME</th>
        <th>VISITORS</th>
        <th></th>
    </tr>
    <tr th:each="tour:${allActiveTour}">
        <td th:text="${tour.getNameTour()}"></td>
        <td th:text="${tour.getVisitors()}"></td>
        <form th:action="@{/save_active_tour}" method="post">
            <input th:value="${tour.getId()}" type="number" hidden="hidden" name="tourId"/>
            <td>
                <input type="submit" value="Подробние"/>
            </td>
        </form>
    </tr>
</table>
</body>
</html>