<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<H2>Смена пароля</H2>
<form th:action="@{/update_password}" method="post" th:object="${users}">
    <div><label> Старый пароль: <input th:value="${oldPassword}" type="password" name="oldPassword" autofocus required/> </label></div>
    <br>
    <div><label> Новый пароль: <input th:value="${newPassword}" type="password" name="newPassword" autofocus required/> </label></div>
    <br>
    <div><label> Повторите новый пароль: <input th:value="${newPasswordRepeat}" type="password" name="newPasswordRepeat" autofocus required/> </label></div>
    <br>
    <div><input type="submit" value="Сменить"/></div>
</form>
</body>
</html>