<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<H2>Смена пароля</H2>
<form th:action="@{/newPasswordUser}" method="post" th:object="${reset}">
    <input th:value="${reset.getEmail()}" type="text" hidden="hidden" name="email"/>
    <div><label> Токен: <input th:value="${token}" type="text" name="token" autofocus required/> </label></div>
    <br>
    <div><label> Новый пароль: <input th:value="${password}" type="password" name="password" autofocus required/> </label></div>
    <br>
    <div><label> Повторите новый пароль: <input th:value="${repeatPassword}" type="password" name="repeatPassword" autofocus required/> </label></div>
    <br>
    <div><input type="submit" value="Сменить"/></div>
</form>
</body>
</html>