<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Check Tour</title>
</head>
<body>
<form th:action="@{/adminMain}" method="get">
    <h1><input type="submit" value="<"/></h1>
</form>
<table>
    <tr>
        <th>ID</th>
        <th>TOUR NAME</th>
        <th>CREATED DATE</th>
        <th>STATUS</th>
        <th>COMMIT</th>
    </tr>
    <tr th:each="tour:${allNewTour}">
        <td th:text="${tour.getId()}"></td>
        <td th:text="${tour.getNameTour()}"></td>
        <td th:text="${tour.getCreatedDate()}"></td>
        <form th:action="@{/save_active_tour}" method="post">
            <input th:value="${tour.getId()}" type="number" hidden="hidden" name="tourId"/>
            <td><select th:object="${status}" type="text" name="status">
                <option th:each="status:${statuses}">
                    <th:block th:text="${status}"></th:block>
                </option>
            </select>>
            </td>
            <td>
                <input type="submit" value="Send"/>
            </td>
        </form>
    </tr>
</table>
</body>
</html>