<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
</div>
<form th:action="@{/passwordRecoveryEmail}" method="post" th:object="${user}">
    <div><label> Email : <input th:value="${email}" type="email" name="email" autofocus required/> </label></div>
    <div><input type="submit" value="Send"/>
        <a th:href="@{/login}"><input type="button" value="Sign IN"/></a>
    </div>
</form>
</body>
</html>