<!DOCTYPE html>
<meta charset="UTF-8">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Tour</title>
</head>
<body th:object="${tour}">
<form th:action="@{/getTour}" method="post">
    <input th:value="${tour.getId()}" type="number" hidden="hidden" name="tourId"/>
    <h1><th:block th:text="${tour.getNameTour()}"></th:block> </h1>
    <img th:src="${tour.getImg()}">
    <p><th:block th:text="${tour.getInfo()}"></th:block> </p>
    <input type="submit" value="Забронировать тур"/>
</form>
<form th:action="@{/save_tour_comment}" method="post" th:object="${commentsTour}">
    <input th:value="${tour.getId()}" type="number" hidden="hidden" name="tourID"/>
    <label> <h3>Комментарий :</h3>
        <textarea th:value="${commentsTour.comment}" type="text" name="comment" cols="25" rows="3"></textarea></label>
    <br>
    <div><input type="reset" value="сброс">
        <input type="submit" value="отправить"/></div>
</form>
</table>
</body>
</html>