<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Выйти"/>
</form>
<form th:action="@{/add_tour}" method="get">
    <input type="submit" value="Новый тур"/>
</form>
<form th:action="@{/get_all_tour}" method="get">
    <input type="submit" value="Все туры"/>
</form>
<form th:action="@{/get_all_place}" method="get">
    <input type="submit" value="Все места"/>
</form>
</body>
</html>